#nodeManage {
    background: white;
    min-height: 500px;
}

.gutter-example-nodemanage .ant-row > div {
    background: transparent;
    border: 0;
}

.gutter-box-nodemanage {
    text-align:left;
}

.ant-input-disabled{
    color: black;
    text-align: center;
}

.ant-input-group{
    margin: 8px;
}

#warning .ant-card-body{
    padding-top: 0;
}

.activation{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}