*{
    font-family: '微软雅黑' !important;
}
#nodeManage {
    background: white;
    min-height: 500px;
}

.gutter-example-nodemanage .ant-row > div {
    background: transparent;
    border: 0;
}

.gutter-box-nodemanage {
    text-align:left;
}

.ant-input-disabled{
    color: black;
    text-align: center;
}

.ant-input-group{
    margin: 8px;
}

#NodeManage th{
    text-align: center;
}

#NodeManage td{
    text-align: center;
}

.uploadFileDiv {
    width: 30%;
    
}
.ant-table table{
    text-align: center;
    font-size: 12px
}
.ant-table-thead > tr > th{
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"]{
        -moz-appearance: textfield;
    }

.modeltitle{
   margin-top: 10px;
   margin-bottom: 10px;
   font-size:15px; 
}

.timeline{
    width: 100%;
    height: 2px;
    background: #999;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
}
.lefttime{
    position: absolute;
    left: 0px;
    top: 5px;
    font-size: 12px;
}
.lefttime1{
    position: absolute;
    left: 12%;
    top: 5px;
    font-size: 12px;
}
.lefttime2{
    position: absolute;
    left: 24.5%;
    top: 5px;
    font-size: 12px;
}
.lefttime3{
    position: absolute;
    left: 37%;
    top: 5px;
    font-size: 12px;
}
.lefttime4{
    position: absolute;
    left: 49.5%;
    top: 5px;
    font-size: 12px;
}
.lefttime5{
    position: absolute;
    left: 62%;
    top: 5px;
    font-size: 12px;
}
.lefttime6{
    position: absolute;
    left: 74.5%;
    top: 5px;
    font-size: 12px;
}
.lefttime7{
    position: absolute;
    left: 87.5%;
    top: 5px;
    font-size: 12px;
}

.righttime{
    position: absolute;
    right: -20px;
    top: 5px;
    font-size: 12px;
}

.titlebot{
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}
.botleft{
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #139df4;
    vertical-align: baseline;
    margin-right: 35px;
    margin-left: 5px;
}

.botright{
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #b10be8;
    vertical-align: baseline;
    margin-right: 8px;
    margin-left: 5px;
}

#hospitalvideodata .ant-tabs-bar{
    border-bottom: none;
}

#hospitalvideodata  .ant-card-body{
    padding-top: 0;
    background: rgb(240, 242, 245);
}

#hospitalvideodata .ant-tabs{
    background: white;
    /* padding: 10px;
    padding-top: 0px !important; */
}

#hospitalvideodata .ant-tabs-nav-scroll{
    background: rgb(240, 242, 245);
    padding-top: 10px;
}

#hospitalvideodata .ant-tabs-content{
    padding: 10px;
    padding-top: 0;
}
#hospitalvideodata .ant-tabs-ink-bar{
    background: white;
}

#hospitalvideodata .ant-tabs-tab-active{
    background: white;
}
#hospitalvideodata .ant-tabs-tab{
    margin: 0;
}
.ant-table-thead > tr > th .ant-table-header-column{
    font-size: 13px;
    font-weight: bold;
}

#guestroomvideo .pageone{
    margin-top: 20px;
    text-align: right;
    width:'100%'
}
